PORT=your_server_port
MONGODB_URI=your_mongodb_connection_string
JWT_SECRET=your_random_secret_with_at_least_32_characters
JWT_ISSUER=your_jwt_issuer
JWT_AUDIENCE=your_jwt_audience
JWT_EXPIRES_IN=your_token_lifetime
CLIENT_ORIGIN=your_client_origin
RABBITMQ_URL=amqp://your_rabbitmq_username:your_rabbitmq_password@your_rabbitmq_host:5672
RABBITMQ_RECONNECT_DELAY_MS=your_reconnect_delay_in_milliseconds
AI_REQUEST_PUBLISH_INTERVAL_MS=your_publish_interval_in_milliseconds
AI_REQUEST_PUBLISH_LEASE_MS=your_publish_lease_in_milliseconds
